/*** MAIN STYLE ***/

html { 
	background: url('../images/bg_body.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

body {
	padding: 0;
	margin: 0; 
	font-family: Verdana, Tahoma, arial, sans-serif;
	font-size: 12px;
}

img {
	border: 0;
}

h1 {
	padding: 10px 0 30px 10px;
	margin-bottom: 0;
	text-align: center;
}

a {
	color: #374a5e;
}

a:hover {
	text-decoration: none;
}

p {
	padding: 0 10px;
}

ul,
li {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

#wrapper {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px 10px 10px 10px;
	margin: 20px auto;
	padding: 10px 0;
	width: 960px;
}

/* --- NAVIGATION --- */

#topNavigation {
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
	border:1px solid #000;
	border-left: 0;
	border-right: 0;
	padding: 0;
}

#topNavigation  ul {
	z-index: 10000;
}

#topNavigation ul li.level1,
#topNavigation ul li a.level1 {
    border-right: 1px solid #000000;
    float: left;
    text-align: center;
    width: 159px;
}

#topNavigation ul li.level1 {
	position: relative;
	background-image: url(../images/sprite_nav.jpg);
}

#topNavigation ul li a.level1 {
	padding: 10px 0;
	text-decoration: none;
}

#topNavigation ul.level2,
#topNavigation ul.level3 {
	left: -999em;
	position: absolute;
	top: 35px;
	background-color: #8b8b8b;
	border: 1px solid #000;
	border-top: 0;
}

#topNavigation ul.level3 {
	top: 0;
}

#topNavigation ul li:hover {
	background-position: bottom left;
}

#topNavigation ul li:hover a {
	color: #fff;
}

#topNavigation ul li.level1:hover ul.level2 {
	left: 0;
}

#topNavigation ul li.level1 ul.level2 li:hover ul.level3 {
	left: 158px;
}

#topNavigation ul.level2 a {
    float: left;
    padding: 10px 22px;
    text-align: left;
    text-decoration: none;
    width: 114px;
	border-bottom: 1px dotted #ccc;
}

#topNavigation ul.level2 a:hover {
	background-color: #667a91;
}

#topNavigation ul.level2 a.last {
	border: 0;
}

/* --- CONTENT --- */

#content {
	margin: 65px 40px;
	z-index: 100;
}

#arrows {
	position: relative;
	display: block;
	height: 42px;
	width: 856px;
	margin: auto 10px;
}

#arrows a {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: box;
	box-pack: center;
	box-align: center;
	float: right;
	margin-left: -35px;
	height: 42px;
	width: 239px;
	background-image: url('../images/sprite_arrows.png');
	background-repeat: no-repeat;
	background-position: -239px 0;
	text-decoration: none;
}

#arrows a:last-child {
	margin-left: 0;
}

#arrows a:hover,
#arrows a.active {
	background-position: 0 0;
	color: white;
}

.column {
	margin: 25px 5px 0 5px;
	display: inline-block;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.column p {
	-webkit-margin-before: 0;
	-moz-margin-before: 0;
	margin-before:0;
}

/* --- CARROUSEL -- */

#carrousel {
    border: 1px solid #000000;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    overflow: hidden;
    position: relative;
    width: 880px;
    height: 150px
}

#carrousel,
#carrousel .arrow {
	height: 150px;
}

#carrousel .container {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 880px;
    height: 150px
}

#carrousel .container .subcontainer {
    position: absolute;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack: left;
    display: -moz-box;
    -moz-box-pack: left
    display: box;
    box-pack: left;
}

#carrousel .container .subcontainer div {
    display: block;
    height: 150px;
    width: 220px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#carrousel .arrow {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/sprite_carrousel_arrows.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 54px;
    height: 150px;
}

#carrousel .arrow:hover {
    background-color: rgba(50,100,120,0.3);
}
#carrousel .arrow:active {
    background-color: rgba(50,100,120,0.7);
}

#carrousel .arrow.right {
    left: 826px;
    background-position: 0 -151px;
}

#carrousel ul {
	position: absolute;
}

#carrousel ul li.slide {
	float: left;	
	width: 220px;
}

#carrousel ul li.slide {
	background-position: center;
	background-color: red;
}

.slide1 {
	background-image: url(../images/slide1.jpg);	
}

.slide2 {
	background-image: url(../images/slide2.jpg);
}

.slide3 {
	background-image: url(../images/slide3.jpg);	
}

.slide4 {
	background-image: url(../images/slide4.jpg);	
}

.slide5 {
	background-image: url(../images/slide5.jpg);	
}

.slide6 {
	background-image: url(../images/slide6.jpg);
}


/* --- FOOTER --- */
#footer {
	text-align: center;
	padding: 4px 0;
	border: 1px solid #ccc;
}

#footer a {
	padding: 0 10px;
}